* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(/fonts/Roboto-Regular.ttf);

}

body {
    font-family: 'Roboto', sans-serif;

}

.container-bag .item_row {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.item_row {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.container__promo-blocks {
    margin: 0 auto;
    max-width: 1300px;
}

.separator {
    height: 1px;
    background: #e5e5e5;
}

a {
    color: black;
    text-decoration: none;
}

.header__menu a:hover, .catalog__banner-main-text, .shopping-bag_banner-main-text {
    color: #f14a58;
}

.center-column {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {

    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.subtitle__banner-name {
    color: #757575;
    font-size: 16px;
}

header {
    background-color: white;

}

.header__content_menu ul {
    list-style-type: none;
}

input[type=search] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #e5e5e5;
}

.container {
    width: 90%;
    max-width: 1180px;
    background-color: white;
    margin: 0 auto;
    height: auto;
}


.banner {
    position: relative;
    display: inline-block;
}

.banner__img, .image-link {
    width: 100%;
    height: auto;
    display: -ms-flexbox;
    display: flex;
}

.section__advertising_img {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
}


.banner .title__banner-name {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

.section__best-offer_info .subtitle, .catalog__banner {
    text-align: center;
}

.catalog__banner-subtitle {
    font-weight: normal;
}


.item__picture_container, .item__picture-wrapper {
    position: relative;
}

.bag__wrapper {
    display: flex;
    flex-direction: row;
}

.item__picture {
    opacity: 1;
    display: block;;
    transition: .5s ease;
    backface-visibility: hidden;
}

.item__picture_hover-text {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: #f14a58;
}

.item__picture_container:hover .item__picture {
    -webkit-filter: brightness(50%);
}


.item__picture_container:hover .item__picture_hover-text {
    opacity: 1;
}

.item__picture_container:hover .item__title {
    color: #f14a58;
}


.item__info {
    text-align: center;
}


.item__title {
    padding-top: 3vh;
    padding-bottom: 3vh;
    line-height: 30px;
}

.item__price {
    padding-bottom: 3vh;
}

.catalog__banner {
    height: 15vh;
}

.item__arrow {
    border: solid #f14a58;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;

}

.item__arrow_up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.section__best-offer_items_container .item__picture {
    padding-top: 15px;
}
.section__best-offer_items_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item__arrow_down {
    margin: 30px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

}


.section__best-offer_items-price .items-price_old {
    color: #757575;
    font-size: 18px;
    margin-bottom: 20px;

}

.item__addition-sign, .item__equal-sign {
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-price_old_line {
    width: 72px;
    border-bottom: 1px solid #f14a58;
    transform: rotate(-30deg);
}


.section__best-offer_items-price .items-price_new {
    color: black;
    font-weight: bold;
    font-size: 26px;
    margin-right: 5px;
}

.item__addition-sign, .item__equal-sign {
    font-weight: bolder;
    font-size: 30px;

}

.item__info .item__title {
    font-weight: bold;
}

.header__content_bag-total:before {
    content: url(../img/icons/ico_bag.svg);

}

.section__button {
    border: 1px solid #e5e5e5;
    background-color: white;
    color: black;
    border-radius: 1px;
    cursor: pointer;
}

.section__button:hover {
    transition: .5s ease;
    border: 1px solid #f14a58;
    background-color: white;
    color: #f14a58;
}

.section__new-arrivals_info {
    margin-top: 100px;
    margin-bottom: 75px;
}

.section__new-arrivals_items_grid-container {
    display: grid;
    display: -ms-grid;
    justify-content: space-between;
}


.section_column {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section_row {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.dropdown_icon-img {
    height: 5px;
}

.footer__column__list {
    list-style: none;
}


.footer__icon {
    height: 15px;
    margin-right: 10px;
}


.footer__column__info_link {
    font-weight: bold;
}

.footer__column__list li:hover {

    text-decoration: underline;
}

.section__sharing {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-items: baseline;
}

.section__sharing_image {
    position: relative;
    display: inline-block;
}

.section__sharing_image .share_text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20%;
    text-align: center;
    width: 80%;
}

.item-page__back-to-catalog_button {
    padding: 25px 0;
}

.item-page__back-to-catalog_button a:hover {
    color: #f14a58;
}

.item__info_radio {
    margin: 20px;
}

.item__info_radio input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.item__info_radio label {
    padding: 10px 20px;
    font-size: 16px;

}

.item__info_radio label:hover {
    border: 1px solid #f1f1f1;

}

.item__info_radio input[type="radio"]:focus + label {
    border: 1px solid #f1f1f1;
}

.item__info_radio input[type="radio"]:checked + label {
    border: 1px solid #bebebe;
}

.item__info_radio label {
    background-color: white;
    font-size: 14px;
}

.item__picture-wrapper .item__picture-hasNew {
    position: absolute;
    font-weight: bold;
    color: white;
    left: 0;
    right: 0;
    top: 2%;
    background-color: #f14a58;
}

.item {
    padding: 5px;
}

.gallery__img_btn-mini:hover {
    filter: brightness(50%);
}

/*FOOTER END*/
.section__advertising_box {
    position: relative;
    display: inline-block;
}

.section__advertising_box .section__advertising_title {
    position: absolute;
    text-align: center;
}

.adidasBlue_title, .repairPatches_title {
    color: white;
}

.sale_title {
    color: #f14a58
}

.sale_subtitle {
    color: gray;
}

.section__advertising_box {
    display: -ms-flexbox;
    display: flex;
}

#galleryMain, .gallery__img_btn-mini, .gallery__img_btn, .item__gallery_main-img {
    display: -ms-flexbox;
    display: flex;
}

.item__gallery .container {
    overflow: hidden;
}

#galleryMain, .gallery__img_btn-mini {
    max-width: 100%;
    height: auto;
}

.shopping-bag_head {
    padding: 20px 0;
    font-size: 26px;
}

.bag__item__delete {
    color: #f14a58;
}

.bag__item__delete:hover, .shopping-bag_clear:hover, .shopping-bag_total-price-regular:hover {
    color: #f10c47;
    cursor: pointer;
}

input#number {
    text-align: center;
    border: none;
    width: 15px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form #decrease, form #increase {
    color: #f14a58;
    font-weight: bold;
}

.value-button:hover {
    cursor: pointer;
}

.value-button {
    display: inline-block;
    width: 40px;
    text-align: center;
}

.container-bag {
    min-height: 50vh;
}

.container-bag__text {
    text-align: center;
    font-size: 26px;
    padding-bottom: 10vh;
}

@media (min-width: 1400px) {
    .separator {
        height: 1px;
        width: 100%;
        background-image: radial-gradient(farthest-side at center top, #e5e5e5 0%, #e5e5e5 80%, #f8f8f8 100%);
    }
}

.shopping-bag_banner-text {
    background-color: #f7f7f7;
}

.shopping-bag_banner {
    background-color: #f7f7f7;
    padding: 15px 0;
    text-align: center;
}

@media (min-width: 1024px) {
    .section__best-offer_items-price-mobile, #searchMobile, #searchTablet,
    #itemInfoPriceTabletMobile, #itemInfoDescriptionTabletMobile, #filterTabletMobile,
    .button_buy-now-tablet{
        display: none;
    }

    .banner {
        width: 50%;
    }

    .banner .title__banner-name {
        left: 20vw;
        right: 0;
        top: 10vh;
    }

    .title__banner-name {
        font-size: 28px;
    }

    .title {
        font-size: 50px;
        margin-top: 100px;
        margin-bottom: 35px;
    }

    .section__best-offer_info .subtitle {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 75px;
    }



    .item__addition-sign, .item__equal-sign {
        padding: 0 5vw 5vw 5vw;
    }

    .section__button {
        font-size: 24px;
        width: 30vw;
        height: 10vh;
    }

    .section__new-arrivals_items_grid-container {
        display: grid;
        display: -ms-grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 80px;
        justify-content: space-between;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
    }

    .button__central {
        margin: 5vh 0;
    }

    .item__picture-wrapper .item__picture-hasNew {
        padding: 7px;
        width: 21%;
    }

    .item__picture_hover-text {
        font-size: 22px;
    }


    .item__section_direction {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }


    .item__section {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        padding: 60px 0 100px 0;
    }

    .item__info_section {
        padding: 30px 0;
    }

    .item__info-description {
        padding: 25px 0 50px 0;
        font-size: 16px;
    }

    .item__info-price {
        font-size: 26px;
        padding-bottom: 50px;
    }

    .item__info-sizes, .item__info-colors {
        font-size: 12px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
    }


    .item__info_btn_title {
        margin: auto 0;
    }

    .section__advertising_box .repairPatches_title {
        left: 0;
        right: 0;
        top: 70%;
    }


    .section__advertising_box .adidasBlue_title {
        left: 30vw;
        right: 0;
        top: 20%;
    }

    .section__advertising_box .sale_title {
        left: 0;
        right: 0;
        top: 70%;
    }

    .section__advertising_title {
        font-size: 28px;
    }

    .section__advertising_subtitle {
        font-size: 16px;
    }

    .gallery__img-buttons {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        grid-area: bot;
    }

    .item__gallery {
        display: grid;
        grid-template-areas: "top top top " "bot bot bot";
        grid-auto-rows: auto auto;
        -ms-grid-rows: auto auto;
    }

    .item__info_section {
        padding-left: 5vw;
    }

    .item__gallery_main-img {
        grid-area: top;
    }


    /*FILTER*/
    .filter__body {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .filter__body .filter__dropdown {
        width: 17%;
    }

    .filter__dropdown_btn {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        color: black;
        padding: 13px;
        font-size: 16px;

        border: none;
        cursor: pointer;
    }

    .dropdown-btn_content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 13%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-btn_content li {
        color: black;
        text-decoration: none;
        display: block;
        padding: 10px;
        font-size: 12px;
    }

    .dropdown-btn_content li:hover {
        color: #f14a58;
        background-color: #e5e5e5;
    }


    .filter__dropdown:hover .dropdown-btn_content {
        display: block;
    }


    input[type=search] {
        background: url(../img/icons/search.svg) no-repeat right;
        width: 10vw;
        padding: 10px;
    }

    ::placeholder {
        font-size: 10px;
        color: gray;
    }

    .header__content_menu_search {
        display: block;
    }

    .catalog__banner {
        line-height: 40px;
        margin-top: 10vh;
        margin-bottom: 5vh;
    }

    .catalog__banner-title {
        font-size: 24px;
    }

    .catalog__banner-subtitle {
        font-size: 16px;
    }

    .bag__wrapper .bag__item_title {
        font-size: 14px;
    }

    .bag__wrapper .bag__item_price {
        font-size: 17px;
    }

    .bag__item__info {
        margin-left: 20px;
    }

    .bag__item__info-main {
        line-height: 30px;
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .bag__item__info-description {
        font-size: 14px;
    }

    .bag__item_color, .bag__item_size, .bag__item__info form {
        padding-bottom: 15px;
    }

    .value-button {
        width: 20px;
    }


    form #decrease, form #increase {
        font-size: 16px;
    }


    input[type=number] {
        -moz-appearance: textfield;
    }

    .bag__item__delete {
        font-size: 13px;
        padding-top: 20px;
        cursor: pointer;
    }

    .container-bag {
        width: 95%;
        padding-top: 20px;
    }

    .shopping-bag_checkout {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        align-items: center;
        padding: 40px 0 60px 0;
    }

    .shopping-bag_clear {
        font-size: 13px;
    }

    .shopping-bag_total-price {
        font-size: 22px;
    }

    .shopping-bag_total-price-regular {
        float: right;
    }

    .bag__wrapper {
        width: 40vw;
        padding-bottom: 25px;
    }

    #bestOfferDesktop {
        margin-top: 20vh;
    }

    #bestOfferDesktop .items-price_old, #bestOfferDesktop .items-price_old_line {
        margin-right: 5vw;
    }

    .button_buy-now {
        margin-top: 12vh;
    }

    #bestOfferDesktop .section__button {
        width: 20vw;
    }
}


@media (min-width: 767px) and (max-width: 1024px) {
    .section__best-offer_items-price-mobile, #item4NewArrivals, #searchMobile, #searchDesktop,
    #itemInfoPriceDesktop, #itemInfoDescriptionDesktop, #sale, #filterDesktop, #bestOfferBtnTablet {
        display: none;
    }

    .banner {
        width: 50%;
    }

    .banner .title__banner-name {
        left: 20vw;
        right: 0;
        top: 5vh;
    }

    .title__banner-name {
        font-size: 22px;
    }

    .title {
        font-size: 40px;
        margin-top: 100px;
        margin-bottom: 35px;
    }

    .section__best-offer_info .subtitle {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 60px;
    }



    .item__addition-sign, .item__equal-sign {
        margin-bottom: 50%;
        padding: 40vh 20px 0px 20px;
    }

    .section__new-arrivals_items_grid-container {
        display: grid;
        display: -ms-grid;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-gap: 80px;
        justify-content: space-between;
    }

    .section__button {
        font-size: 20px;

    }

    .button__central {
        width: 40vw;
        padding: 25px 70px;
        margin: 15vh 0;
    }

    .item__picture-wrapper .item__picture-hasNew {
        font-size: 14px;
        padding: 5px;
        width: 18%;
    }

    .gallery__img-buttons {
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        grid-area: bot;
    }
.section__best-offer_items-price{
    margin-top: 15vh;
}

    .item__gallery_main-img {
        grid-area: top;
    }


    .header__menu__search_button:focus {
        border-bottom: 1px solid #e5e5e5;

        background-color: white;
    }


    .header__menu__search_button:focus .header__menu_search_button_text {
        visibility: visible;
        color: #afafaf;
    }

    .gallery__img-buttons {
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        grid-area: bot;
    }

    .item__gallery {
        display: grid;

        grid-template-areas: "top bot";
        grid-auto-columns: auto auto;
    }

    .item__gallery_main-img {
        grid-area: top;
    }

    .item__section {
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        padding: 60px 0 100px 0;
    }

    .item__section_direction {
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item__info_section {
        padding: 30px 0;
    }

    .item__info-title {
        font-size: 20px;
        padding-bottom: 35px;
    }

    .item__info-price {
        font-size: 18px;
        padding-bottom: 20px;
    }

    .item__info-description {
        width: 55vw;
        font-size: 14px;
        padding-bottom: 30px;
        text-align: center;
        line-height: 30px;
    }

    .item__info-sizes, .item__info-colors {
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        padding-bottom: 20px;
    }

    .item__info-btn {
        width: 35vw;
        height: 75px;
    }

    .section__advertising_title {
        font-size: 22px;
    }

    .section__advertising_subtitle {
        font-size: 16px;
    }

    .item__info_btn_title {
        margin: auto 0;
    }

    .section__advertising_box .repairPatches_title {
        left: 0;
        right: 0;
        top: 70%;
    }

    .section__advertising_box .adidasBlue_title {
        left: 30vw;
        right: 0;
        top: 10%;
    }

    .section__advertising_img-wrapper {
        overflow: hidden;
        margin: 0;
    }

    .section__advertising_img-wrapper img {
        display: block;
        width: 100%;
        margin: 0 0 -20% 0;
    }

    .catalog__banner {
        margin: 5vh auto 15vh auto;
        width: 70vw;

        line-height: 40px;
    }

    .catalog__banner-title {
        margin: 0 40px;
        font-size: 20px;
    }

    .catalog__banner-subtitle {
        font-size: 16px;
    }

    .filter__dropdown {
        padding-top: 15px;
    }

    .filter__dropdown-menu {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto auto;

        display: -ms-grid;
        -ms-grid-rows: auto auto auto;
        -ms-grid-columns: auto auto;

    }

    .filter__dropdown-menu-section {
        margin-bottom: 25px;
    }

    .filter__dropdown-menu-section li {
        color: #a8a8a8;
        padding-bottom: 15px;
        font-size: 14px;
    }

    .filter__section-title {
        font-size: 17px;
    }

    .dropdown-btn_content {
        padding-top: 20px;
    }

    .filter__dropdown-menu {
        border-top: 1px solid #e5e5e5;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        max-height: 0;
        padding-left: 20px;
        overflow: hidden;
        transition: .5s all;
        background-color: white;

        z-index: 100;
    }

    .filter__dropdown-menu-section {
        padding-top: 40px;
    }

    #filterMenu:checked ~ .filter__dropdown-menu {
        max-height: 100vh;
    }

    #filterMenu {
        display: none;
    }

    .filters {
        position: fixed;
        width: 100%;
        z-index: 3;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .wrapper {
        width: 100vw;
        position: relative;
        border-bottom: 1px solid #e5e5e5;
    }


    #filterMenu:checked ~ .header__menu-nav {
        max-height: 100vh;
        font-size: 24px;
    }

    .burger-line {
        position: absolute;
        top: 18px;
        right: 8vw;
        width: 18px;
        height: 2px;
        background-color: white;
        transition: .5s all;
    }

    #filterMenu:checked ~ .first {
        display: none;
    }

    .second, .third {
        top: 24px;
    }

    .fourth {
        top: 30px;
    }

    #filterMenu:checked ~ .second {
        background: #f14a58;
        transform: rotate(45deg);
    }

    #filterMenu:checked ~ .third {
        background: #f14a58;
        transform: rotate(-45deg);
    }

    #filterMenu:checked ~ .fourth {
        display: none;
    }

    .bag__wrapper .bag__item_title {
        font-size: 14px;
    }

    .bag__wrapper .bag__item_price {
        font-size: 14px;
    }

    .bag__item__info {
        margin-left: 20px;
    }

    .bag__item__info-main {
        line-height: 30px;
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .bag__item__info-description {
        font-size: 12px;
    }

    .bag__item_color, .bag__item_size, .bag__item__info form {
        padding-bottom: 15px;
    }

    .value-button {
        width: 10px;
    }


    form #decrease, form #increase {
        font-size: 14px;
    }


    input[type=number] {
        -moz-appearance: textfield;
    }

    .bag__item__delete {
        font-size: 13px;
        padding-top: 20px;
        cursor: pointer;
    }

    .container-bag {
        padding: 30px 0;
    }

    .bag__item__delete {
        font-size: 13px;
        padding-top: 20px;
        cursor: pointer;
    }

    .container-bag {
        width: 95%;
        padding: 30px 0;
    }

    .shopping-bag_checkout {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        align-items: center;
        padding: 30px 0 50px 0;
    }

    .shopping-bag_clear {
        font-size: 13px;
    }

    .shopping-bag_total-price {
        font-size: 20px;
    }

    .shopping-bag_total-price-regular {
        float: right;
    }

    .section__button {
        font-size: 20px;
        width: 40vw;
        padding: 25px 50px;
    }

    .bag__wrapper {
        width: 45vw;
        padding-bottom: 20px;
    }

    .item__picture {
        width: 100%;
        height: auto;
        display: -ms-flexbox;
        display: flex;
    }
    .button_buy-now-tablet  .section__button {
       width: 50vw;
        margin: 20px 0;

   }
    .button_buy-now-tablet{
       display: flex;
        justify-content: center;
    }
}

@media only screen and  (max-width: 767px) {
    #secondBanner, #bestOfferDesktop, .item__equal-sign, #item4NewArrivals, #item3NewArrivals,
    #itemInfoPriceDesktop, #itemInfoDescriptionDesktop,
    #repairPatches, #sale, #filterDesktop, .button_buy-now-tablet {
        display: none;
    }

    .banner {
        padding-top: 5vh;
        width: 100%;
    }

    .banner .title__banner-name {
        left: 40vw;
        right: 0;
        top: 10vh;
    }

    .title__banner-name {
        font-size: 22px;
    }

    .title {
        font-size: 26px;
        margin-top: 55px;
        margin-bottom: 30px;
    }

    .section__best-offer_info .subtitle {
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 40px;
    }


    .item__addition-sign {
        margin-bottom: 15vh;
    }

    .shopping-bag_head {
        margin-top: 5vh;
    }

    .section__button {
        font-size: 20px;
        width: 50vw;
        padding: 25px 50px;
    }

    .item__picture {
        width: 100%;
        height: auto;
        display: -ms-flexbox;
        display: flex;
    }
    .button_buy-now {
        margin-bottom: 5vh;
        margin-top: 5vh;
    }
    .section__new-arrivals_items_grid-container {
        display: grid;
        display: -ms-grid;
        grid-template-columns: 1fr 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-gap: 80px;
        justify-content: space-between;
    }

    .button__central {
        margin: 5vh 0;
    }

    .item__picture-wrapper .item__picture-hasNew {
        font-size: 12px;
        padding: 5px;
        width: 21%;
    }

    .gallery__img-buttons {
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        grid-area: bot;
    }

    .item__gallery {
        display: grid;
        grid-template-areas: "top top top " "bot bot bot";
        grid-auto-rows: auto auto;
    }

    .item__gallery_main-img {
        grid-area: top;

    }

    .item__section_direction {
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item__info_section {
        padding: 30px 0;
    }

    .item__info-title {
        font-size: 20px;
        padding-bottom: 15px;
    }

    .item__info-price {
        font-size: 18px;
        padding-bottom: 15px;
    }

    .item__info-description {
        font-size: 14px;
        padding-bottom: 15px;
        text-align: center;
        line-height: 30px;
    }

    .item__info-sizes, .item__info-colors {
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-bottom: 30px;

    }

    .item__info-btn {
        width: 35vw;
        height: 75px;
    }

    .section__advertising_title {
        font-size: 22px;
    }

    .section__advertising_subtitle {
        font-size: 16px;
    }

    .item__info_btn_title {
        margin: auto 0;
    }

    .item__info_radio {
        margin: 0;
    }

    .item__info-btn {
        width: 60vw;
        height: 75px;
    }

    .section__advertising_img {
        width: 100vw;
    }

    .section__advertising_title {
        font-size: 20px;
    }

    .section__advertising_subtitle {
        font-size: 14px;
    }

    .item__info_btn_title {
        margin: auto 0;
    }

    .section__advertising_box .adidasBlue_title {
        left: 50vw;
        right: 0;
        top: 20%;
    }

    .catalog__banner {
        margin: 5vh auto 25vh auto;
        width: 70vw;

        line-height: 40px;
    }

    .catalog__banner-title {
        margin: 0 40px;
        font-size: 18px;
    }

    .catalog__banner-subtitle {

        font-size: 14px;
    }

    .filter__dropdown {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .filter__dropdown-menu {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto;

        display: -ms-grid;
        -ms-grid-rows: auto auto;
        -ms-grid-columns: auto auto auto;

    }

    .filter__dropdown-menu-section {
        margin-bottom: 25px;
    }

    .filter__dropdown-menu-section li {
        color: #a8a8a8;
        padding-bottom: 15px;
        font-size: 14px;
    }

    .filter__section-title {
        font-size: 17px;
    }

    .dropdown-btn_content {
        padding-top: 20px;
    }

    .filter__dropdown-menu {
        border-top: 1px solid #e5e5e5;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        max-height: 0;
        padding-left: 20px;
        overflow: hidden;
        transition: .5s all;
        background-color: white;
        z-index: 2;

    }

    .filter__dropdown-menu-section {
        padding-top: 40px;
    }

    #filterMenu:checked ~ .filter__dropdown-menu {
        max-height: 100vh;
    }

    #filterMenu {
        display: none;
    }

    .filters {
        position: fixed;
        width: 100%;
        z-index: 3;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .wrapper {
        width: 100vw;
        position: relative;
        border-bottom: 1px solid #e5e5e5;
    }


    #filterMenu:checked ~ .header__menu-nav {
        max-height: 100vh;
        font-size: 24px;
    }

    #filterTabletMobile .burger-line {
        position: absolute;
        top: 25px;
        right: 10vw;
        width: 18px;
        height: 2px;
        background-color: white;
        transition: .5s all;
        z-index: 5;
    }

    #filterMenu:checked ~ .first {
        display: none;
    }

    .second, .third {
        top: 24px;
    }

    .fourth {
        top: 30px;
    }

    #filterMenu:checked ~ .second {
        background: #f14a58;
        transform: rotate(45deg);
    }

    #filterMenu:checked ~ .third {
        background: #f14a58;
        transform: rotate(-45deg);
    }

    #filterMenu:checked ~ .fourth {
        display: none;
    }

    #filterTabletMobile {
        margin-top: 5vh;
    }

    .bag__wrapper .bag__item_title {
        font-size: 14px;
    }

    .bag__wrapper .bag__item_price {
        font-size: 14px;
    }

    .bag__item__info {
        margin-left: 20px;
    }

    .bag__item__info-main {
        line-height: 30px;
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .bag__item__info-description {
        font-size: 12px;
    }

    .bag__item_color, .bag__item_size, .bag__item__info form {
        padding-bottom: 15px;
    }

    .value-button {
        width: 10px;
    }


    form #decrease, form #increase {
        font-size: 14px;
    }


    input[type=number] {
        -moz-appearance: textfield;
    }

    .bag__item__delete {
        font-size: 13px;
        padding-top: 20px;
        cursor: pointer;
    }

    .container-bag {
        padding: 30px 0;
    }

    .shopping-bag_checkout {
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "cost" "btn" "clear";
        justify-items: center;
        padding: 30px 0 50px 0;
    }

    .shopping-bag_btn button {
        grid-area: btn;
    }

    .shopping-bag_clear {
        font-size: 13px;
        grid-area: clear;
        padding: 20px 0;
    }

    .shopping-bag_total-price {
        font-size: 20px;
        grid-area: cost;
        padding: 20px 0;
    }

    .shopping-bag_total-price-regular {
        float: right;
    }
}

/*HEADER*/
@media (min-width: 1024px) {

    #logoMobile, #menuBtn, #headerMobile {
        display: none;
    }

    .header__logo {
        font-size: 30px;

    }

    .header__section_direction {
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .header__content-logo-bag, .header__content-bag, .header__menu, .header__content_menu {
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .header__content-logo-bag {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .header__content-bag {
        width: 22%;
    }

    .header__content_menu {
        margin-bottom: 25px;
    }

    .header__content_menu ul {
        width: 60vw;
    }


    .header__menu {
        font-size: 13px;
    }

    .item__info_section button {
        margin-top: 40px;
        margin-left: 40px;
    }

    .item__info-title {
        font-size: 26px;
    }

    .section__advertising {
        display: grid;
        grid-template-columns: auto auto auto;
        -ms-grid-columns: auto auto auto;
    }


}

@media (min-width: 767px) and (max-width: 1024px) {
    #logoMobile, #menuBtn, #inputSearchHeader, #headerMobile {
        display: none;
    }

    .header__logo {
        font-size: 26px;

    }

    .header__content_menu_search {
        position: absolute;
        left: 65vw;
    }

    .header__menu_search_button_text {
        visibility: hidden;
    }

    .header__menu__search_button {
        width: 30vw;
        background-color: transparent;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid 1px white;
        margin-top: 5px;
    }

    .header__section_direction {
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .header__content-logo-bag, .header__content-bag, .header__menu, .header__content_menu {
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .header__content-logo-bag {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .header__content-bag {
        width: 25vw;
    }

    .header__content_menu {
        margin-bottom: 25px;
    }

    .header__content_menu ul {
        width: 80vw;
    }


    .header__menu__search_input {
        width: 120px;
        height: 30px;
    }


    .header__menu_search_button_img {
        height: 15px;
        bottom: 5px;
        right: 5px;
    }

    .header__menu {
        font-size: 12px;
    }


}

@media only screen and  (max-width: 767px) {

    #logoDesktop, #signUp, #headerDesktop {
        display: none;
    }

    .header {
        position: fixed;
        width: 100%;
        z-index: 3;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .wrapper {
        width: 100vw;
        position: relative;
        color: black;

        border-bottom: 1px solid #e5e5e5;
    }

    #headerMenu {
        display: none;
    }

    label {
        display: block;
        cursor: pointer;
        z-index: 2;

    }

    .burger-line {
        position: absolute;
        top: 18px;
        right: 5vw;
        width: 18px;
        height: 2px;
        background-color: black;
        transition: .5s all;
    }

    .second, .third {
        top: 24px;
    }

    .fourth {
        top: 30px;
    }

    .header__menu-nav {
        border-top: 1px solid #e5e5e5;
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        transition: .5s all;
        background-color: white;
        height: 100vh;
    }

    .header__menu-nav a {
        display: block;
        width: 100%;
        padding-top: 5vh;
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: #f14a58;
    }


    #headerMenu:checked ~ .header__menu-nav {
        max-height: 100vh;
        font-size: 24px;
    }

    #headerMenu:checked ~ .first {
        display: none;
    }

    #headerMenu:checked ~ .second {
        background: #f14a58;
        transform: rotate(45deg);
    }

    #headerMenu:checked ~ .third {
        background: #f14a58;
        transform: rotate(-45deg);
    }

    #headerMenu:checked ~ .fourth {
        display: none;
    }


    .header__content-logo-bag {
        width: 90%;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .header .header__logo {
        display: block;
        font-size: 24px;
        text-decoration: none;
    }


    label .header__content-logo-bag {
        border-right: 1px solid #e5e5e5;
    }

    .header__content-bag {
        padding-right: 20px;
        padding-left: 10px;
    }

    input[type=search] {
        background: url(../img/icons/search.svg) no-repeat right;
        width: 30vw;
        margin-top: 8vh;
    }

    ::placeholder {
        font-size: 12px;
        color: gray;
    }
}

/*FOOTER*/

@media (min-width: 1024px) {


    .footer__section_direction {
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .footer__column__title {
        font-size: 16px;
        margin: 60px 0 30px 0;
    }

    .footer__column__list li {
        margin-bottom: 30px;
    }

    .footer__first_column {
        margin-right: 10vw;
    }

    .footer__column__info_delivery {
        font-size: 16px;
        color: gray;
        width: 20vw;
        margin-top: 6vh;
        line-height: 25px;
        margin-bottom: 2vh;
    }

    .footer__section-links, .footer__section-feedback {
        width: 50vw;
    }

    .footer__section-links_first_column {
        border-right: 1px solid #e5e5e5;
    }


    .footer__section-bottom {
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .copyright, .section__policy {
        font-weight: bold;
        font-size: 12px;
    }

    .share {

        font-size: 18px;
    }

    .footer_share_img {
        height: 30px;
    }

    .section__policy a {
        margin-left: 1.5vw;
    }

    .footer__section-bottom {
        margin-top: 30px;
        margin-bottom: 35px;
    }

    .footer__section-feedback_direction {
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .footer__section-feedback_direction, .footer__column__info_delivery, .footer___section_icons {
        margin-left: 5vw;
    }

    .footer__section-bottom-mobile {
        display: none;
    }

    #separatorMobile {
        display: none;
    }


}

@media (min-width: 767px) and (max-width: 1024px) {

    .footer__section_direction {
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-bottom: 5vh;
    }

    .footer__column__title {
        font-size: 16px;
        margin: 50px 0 25px 0;
    }

    .footer__column__list li {
        margin-top: 35px;
    }

    .footer__column__info_delivery {
        display: none;
    }

    .footer__first_column {
        margin-right: 20vw;
    }

    .footer__section-links {
        width: 65vw;
    }

    .footer__section-feedback {
        width: 35vw;
    }

    .footer__section-feedback_direction {
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .footer__section-feedback {
        padding-left: 10vw;
    }

    .footer__column__list a, .footer__column_info {
        font-size: 14px;
    }

    .footer___section_icons {
        padding-top: 13vh;
    }

    .footer__section-bottom {
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .copyright, .section__policy {
        font-weight: bold;
        font-size: 12px;
    }

    .share {

        font-size: 16px;
    }

    .footer_share_img {
        height: 30px;
    }

    .section__policy a {
        margin-left: 1.5vw;
    }

    .footer__section-bottom {
        margin-top: 30px;
        margin-bottom: 35px;
    }

    .footer_share_img {
        height: 20px;
    }

    .section__sharing_image .share_text {
        font-size: 12px;
    }

    .footer__column_info {
        width: 30vw;
    }

    .footer__section-bottom-mobile {
        display: none;
    }

    #separatorMobile {
        display: none;
    }

}

@media only screen and  (max-width: 767px) {

    .footer__section_direction {
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .footer__column__title {
        font-size: 14px;
        margin: 35px 0 20px 0;
    }

    .footer__column__list li {
        margin-top: 30px;
    }

    .footer__column__info_delivery {
        display: none;
    }

    .footer__column__list a, .footer__column_info {
        font-size: 12px;
    }

    .footer__section-links {
        width: 100%;
    }

    #border {
        border-right: 1px solid #e5e5e5;
    }


    .footer__column__title {
        font-size: 14px;
        margin: 40px 0 20px 0;
    }

    .footer__column__list li {
        margin-top: 30px;
    }


    .footer__section-feedback_direction {
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .footer__section-links_first_column {
        padding-bottom: 5vh;
    }

    .feedback-column {
        width: 50vw;

    }

    #footerSectionIconsDesktopTablet {
        display: none;
    }

    .section_column {
        width: 50vw;
    }

    .footer__section_column_right {
        margin-left: 20px;
    }

    .footer__section-bottom {
        display: none;
    }

    .footer__section-bottom-mobile {
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .section__bottom_first, .section__bottom_second {
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 0;
    }

    .section__bottom_text {
        font-weight: bold;
        font-size: 10px;
    }

    .section__policy a {
        margin-right: 4vw;
    }

    .section__bottom__footer__icon {
        height: 15px;
        margin-right: 20px;
    }

    .share {
        font-size: 14px;
    }

    .section__sharing_image .share_text {
        font-size: 10px;
    }

    .footer__column_info {
        margin-bottom: 45px;
    }
}

.bold-text, h1, h2, button, .catalog__banner-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.italic-text, .catalog__banner-subtitle {
    font-family: "Times New Roman", sans-serif;
    font-style: italic;
}
