* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(/fonts/Roboto-Regular.ttf);

}

.title, .title__banner-name, .header__logo, .header__menu, #inputSearchHeader,
.item__picture_hover-tex, .section__button, .section__button:hover,
.footer__share-icon, .footer__column__title, .item-page__back-to-catalog_button,
.item__info_radio label, .section__advertising_title {
    font-family: 'Open Sans', sans-serif;,
font-weight: bold;
}

/*.section__best-offer_items-price .items-price_old, .section__best-offer_items-price .items-price_new,
.footer__column__list,.footer__column_info,.section__sharing_image .share_text, .copyright, .section__policy,
.copyright, .section__policy, .section__bottom_text,.item__info-title, .item__info-price*/
body {
    font-family: 'Roboto', sans-serif;
}

.subtitle__banner-name, .section__best-offer_info .subtitle,
.footer__column__info_delivery, .item__info-description, .sale_subtitle,
.adidasBlue_subtitle {
    font-family: "Times New Roman", sans-serif;
    font-style: italic;
}

.container {
    width: 90%;
    max-width: 1180px;
}

a {
    color: black;
    text-decoration: none;
}

.header__menu a:hover {
    color: #f14a58;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {

    display: flex;
    justify-content: center;
}

.subtitle__banner-name {
    color: #757575;
    font-size: 16px;
}

header {
    background-color: white;

}


.header__content_menu ul {
    list-style-type: none;
}

.header__menu__search_container {
    position: relative;
}

#inputSearchHeader {
    color: #a8a8a8;
}

.header__menu__search_input {
    border-top: none;
    border-left: none;
    border-right: none;
}

.header__menu__search_button {
    background: none;
    border: none;
}

.header__menu_search_button_img {
    position: absolute;
}


.container {
    background-color: white;
    margin: 0 auto;
    height: auto;
}

.separator {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.banner {
    position: relative;
    display: inline-block;
}

.banner__img, .item__picture, .section__advertising_img, .image-link {
    width: 100%;
    height: auto;
}

.banner .title__banner-name {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

.section__best-offer_info .subtitle {
    text-align: center;
}


.item__picture_container {
    position: relative;
    display: inline-block;
}

.item__picture {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.item__picture_hover-text {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: #f14a58;
}

.item__picture_container:hover .item__picture {
    filter: brightness(50%);
}

.item__picture_container:hover .item__picture_hover-text {
    opacity: 1;
}

.item__info {
    text-align: center;
}

.item__arrow {
    border: solid #f14a58;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;

}

.item__arrow_up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.item__arrow_down {
    margin: 30px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


.section__best-offer_items-price .items-price_old {
    color: #757575;
    font-size: 18px;
    margin-bottom: 20px;

}

.item__addition-sign, .item__equal-sign {
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-price_old_line {
    width: 72px;
    border-bottom: 1px solid #f14a58;
    transform: rotate(-30deg);
}


.section__best-offer_items-price .items-price_new {
    color: black;
    font-weight: bold;
    font-size: 26px;
    margin-right: 5px;
}

.item__addition-sign, .item__equal-sign {
    font-weight: bolder;
    font-size: 30px;

}

.item__info .item__title {
    font-weight: bold;
}

.section__button {
    border: 1px solid #e5e5e5;
    background-color: white;
    color: black;
    border-radius: 1px;


}

.section__button:hover {
    transition: .5s ease;
    border: 1px solid #f14a58;
    background-color: white;
    color: #f14a58;
}

.section__new-arrivals_info {
    margin-top: 100px;
    margin-bottom: 75px;
}

.section__new-arrivals_items_grid-container {
    display: grid;
    justify-content: space-between;
}


.section_column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.footer__column__list {
    list-style: none;
}


.footer__icon {
    height: 15px;
    margin-right: 10px;
}


.footer__column__info_link {
    font-weight: bold;
}

.footer__column__list li:hover {

    text-decoration: underline;
}

.section__sharing {
    display: flex;
    flex-direction: row;
    justify-items: baseline;
}

.section__sharing_image {
    position: relative;
    display: inline-block;
}

.section__sharing_image .share_text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20%;
    text-align: center;
    width: 80%;
}

.item-page__back-to-catalog_button {
    padding: 25px 0;
}

.item__gallery_main-img{
display: flex;
}


.item__info-title {
    font-weight: bold;
}

.item__info_radio {
    margin: 20px;

}

.item__info_radio input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.item__info_radio label {
    padding: 10px 20px;
    font-size: 16px;

}

.item__info_radio label:hover {
    border: 1px solid #f1f1f1;

}

.item__info_radio input[type="radio"]:focus + label {
    border: 1px solid #f1f1f1;
}

.item__info_radio input[type="radio"]:checked + label {
    border-color: #bebebe;
}

.item__info_radio label {
    background-color: white;
    font-size: 14px;
}

/*FOOTER END*/
.section__advertising_box {
    position: relative;
    display: inline-block;
}

.section__advertising_box .section__advertising_title {
    position: absolute;
    text-align: center;
}

.adidasBlue_title, .repairPatches_title {
    color: white;
}

.sale_title {
    color: #f14a58
}

.sale_subtitle {
    color: gray;
}

@media (min-width: 1024px) and (max-width: 1930px) {
    .section__best-offer_items-price-mobile {
        display: none;
    }

    .banner {
        width: 50%;
    }

    .banner .title__banner-name {
        left: 20vw;
        right: 0;
        top: 10vh;
    }

    .title__banner-name {
        font-size: 28px;
    }

    .title {
        font-size: 50px;
        margin-top: 100px;
        margin-bottom: 35px;
    }

    .section__best-offer_info .subtitle {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 75px;
    }

    .section__best-offer_items_grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: space-between;
    }


    .item__addition-sign, .item__equal-sign {
        margin-bottom: 50%;
    }

    .section__button {
        font-size: 24px;
        width: 20vw;
        height: 10vh;
    }

    .section__new-arrivals_items_grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 80px;
        justify-content: space-between;
    }

    .button_new-arrivals {
        margin: 15vh 0;
    }

    .item__picture_hover-text {
        font-size: 22px;
    }


    .item__section_direction {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }


    .item__section {
        display: flex;
        flex-direction: row;
        padding: 60px 0 100px 0;
    }

    .item__info_section {
        padding: 30px 0;
    }

    .item__info-description {
        padding: 25px 0 50px 0;
        font-size: 16px;
    }

    .item__info-price {
        font-size: 26px;
        padding-bottom: 50px;
    }

    .item__info-sizes, .item__info-colors {
        font-size: 12px;
        width: 30vw;
        display: flex;
        flex-direction: row;
    }


    .item__info-title {
        margin: auto 0;
    }

    .section__advertising_box .repairPatches_title {
        left: 0;
        right: 0;
        top: 70%;
    }


    .section__advertising_box .adidasBlue_title {
        left: 30vw;
        right: 0;
        top: 20%;
    }

    .section__advertising_box .sale_title {
        left: 0;
        right: 0;
        top: 70%;
    }

    .section__advertising_title {
        font-size: 28px;
    }

    .section__advertising_subtitle {
        font-size: 16px;
    }

    .gallery__img-buttons {
        display: flex;
        flex-direction: row;
    }

    .item__gallery {
        display: grid;
        grid-template-areas: "top top top " "t1 t2 t3";
        grid-auto-rows: minmax(100px, auto);
    }

    .item__gallery_main-img {
        grid-area: top;
    }

    #first {
        grid-area: t1;
    }

    #second {
        grid-area: t2;
    }

    #third {
        grid-area: t3;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .section__best-offer_items-price-mobile, #item4NewArrivals {
        display: none;
    }

    .banner {
        width: 50%;
    }

    .banner .title__banner-name {
        left: 20vw;
        right: 0;
        top: 5vh;
    }

    .title__banner-name {
        font-size: 22px;
    }

    .title {
        font-size: 40px;
        margin-top: 100px;
        margin-bottom: 35px;
    }

    .section__best-offer_info .subtitle {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 60px;
    }

    .section__best-offer_items_grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: space-between;
    }

    .item__addition-sign, .item__equal-sign {
        margin-bottom: 50%;
    }

    .section__new-arrivals_items_grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 80px;
        justify-content: space-between;
    }

    .section__button {
        font-size: 20px;

    }

    .button_new-arrivals {
        width: 40vw;
        padding: 25px 70px;
        margin: 15vh 0;
    }

    .gallery__img-buttons {
        display: flex;
        flex-direction: column;
    }

    .item__gallery {
        display: grid;
        grid-template-areas: "top top t1 " "top top t2" "top top t3";
        grid-auto-rows: minmax(100px, auto);
    }

    .item__gallery_main-img {
        grid-area: top;
    }

    #first {
        grid-area: t1;
    }

    #second {
        grid-area: t2;
    }

    #third {
        grid-area: t3;
    }


}

@media only screen and  (max-width: 768px) {
    #secondBanner, #bestOfferDesktop, .item__equal-sign, #item4NewArrivals, #item3NewArrivals {
        display: none;
    }

    .banner {
        width: 100%;
    }

    .banner .title__banner-name {
        left: 40vw;
        right: 0;
        top: 5vh;
    }

    .title__banner-name {
        font-size: 22px;
    }

    .title {
        font-size: 26px;
        margin-top: 55px;
        margin-bottom: 30px;
    }

    .section__best-offer_info .subtitle {
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 40px;
    }

    .section__best-offer_items_grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-between;
    }

    .item__addition-sign {
        margin-bottom: 15vh;
    }

    .section__button {
        font-size: 20px;
        width: 70vw;
        padding: 25px 50px;
    }

    .section__new-arrivals_items_grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 80px;
        justify-content: space-between;
    }

    .gallery__img-buttons {
        display: flex;
        flex-direction: row;
    }

    .item__gallery {
        display: grid;
        grid-template-areas: "top top top " "t1 t2 t3";
        grid-auto-rows: minmax(100px, auto);
    }

    .item__gallery_main-img {
        grid-area: top;
    }

    #first {
        grid-area: t1;
    }

    #second {
        grid-area: t2;
    }

    #third {
        grid-area: t3;
    }

}


/*HEADER*/
@media (min-width: 1024px) and (max-width: 1930px) {

    #logoMobile, #menuBtn, #headerMobile {
        display: none;
    }

    .header__logo {
        font-size: 30px;

    }

    .header__section_direction {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .header__content-logo-bag, .header__content-bag, .header__menu, .header__content_menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .header__content-logo-bag {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .header__content-bag {
        width: 18%;
    }

    .header__content_bag-icon {
        margin-right: 10px;
    }

    .header__content_menu {
        margin-bottom: 25px;
    }

    .header__content_menu ul {
        width: 60vw;
    }

    .header__menu__search_container {
        position: relative;
    }


    .header__menu__search_input {
        width: 120px;
        height: 30px;
    }


    .header__menu_search_button_img {
        height: 15px;
        bottom: 5px;
        right: 5px;
    }

    .header__menu {
        font-size: 13px;
    }

    .item__info_section button {
        margin-top: 40px;
        margin-left: 40px;
    }

    .item__title {
        font-size: 26px;
    }

    .section__advertising {

        display: grid;
        grid-template-columns: auto auto auto;
    }

    #adidasBlue {
        width: 50vw;
    }

    #sale, #repairPatches {
        width: 25vw;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    #logoMobile, #menuBtn, #inputSearchHeader, #headerMobile {
        display: none;
    }

    .header__logo {
        font-size: 26px;

    }

    .header__section_direction {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .header__content-logo-bag, .header__content-bag, .header__menu, .header__content_menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .header__content-logo-bag {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .header__content-bag {
        width: 25vw;
    }

    .header__content_bag-icon {
        margin-right: 10px;
    }

    .header__content_menu {
        margin-bottom: 25px;
    }

    .header__content_menu ul {
        width: 80vw;
    }

    .header__menu__search_container {
        position: relative;
    }


    .header__menu__search_input {
        width: 120px;
        height: 30px;
    }


    .header__menu_search_button_img {
        height: 15px;
        bottom: 5px;
        right: 5px;
    }

    .header__menu {
        font-size: 12px;
    }
}

@media only screen and  (max-width: 768px) {
    #logoDesktop, #signUp, #headerDesktop {
        display: none;
    }

    .header {
        background-color: #fff;
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
        position: fixed;
        width: 100%;
        z-index: 3;
    }

    .header__logo {
        font-size: 24px;

    }

    .header__section_direction {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .header__content_menu_search {
        display: none;
    }

    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
    }

    .header li a {
        display: block;
        padding: 20px 20px;
        text-decoration: none;
    }

    .header li a:hover {
        color: #f14a58;
    }

    .header .header__logo {
        display: block;
        float: left;
        font-size: 2em;

        text-decoration: none;
    }

    .header .header__menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }


    .header .menu__icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;

    }

    .header .menu__icon .menu__icon-lines {
        background: black;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
    }

    .header .menu__icon .menu__icon-lines:before,
    .header .menu__icon .menu__icon-lines:after {
        background: black;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .header .menu__icon .menu__icon-lines:before {
        top: 5px;
    }

    .header .menu__icon .menu__icon-lines:after {
        top: -5px;
    }


    .header .menu__button {
        display: none;
    }

    .header .menu__button:checked ~ .header__menu {
        max-height: 500px;
    }

    .header .menu__button:checked ~ .menu__icon .menu__icon-lines {
        background: transparent;
    }

    .header .menu__button:checked ~ .menu__icon .menu__icon-lines:before {
        transform: rotate(-45deg);
        background: #f14a58;
    }

    .header .menu__button:checked ~ .menu__icon .menu__icon-lines:after {
        transform: rotate(45deg);
        background: #f14a58;
    }

    .header .menu__button:checked ~ .menu__icon:not(.steps) .menu__icon-lines:before,
    .header .menu__button:checked ~ .menu__icon:not(.steps) .menu__icon-lines:after {
        top: 0;
    }

    .header__content-logo-bag {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .button_new-arrivals {
        margin: 5vh 0;
    }

}

/*FOOTER*/

@media (min-width: 1024px) and (max-width: 1800px) {

    .footer__section_direction {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .footer__column__title {
        font-size: 16px;
        margin: 60px 0 30px 0;
    }

    .footer__column__list li {
        margin-bottom: 30px;
    }

    .footer__first_column {
        margin-right: 15vw;
    }

    .footer__column__info_delivery {
        font-size: 16px;
        color: gray;
        width: 20vw;
        margin-top: 6vh;
        line-height: 25px;
        margin-bottom: 2vh;
    }

    .footer__section-links, .footer__section-feedback {
        width: 50vw;
    }

    .footer__section-links_first_column {
        border-right: 1px solid #e5e5e5;
    }

    .footer__section-feedback_container {
        padding-left: 60px;
    }

    .footer__section-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .copyright, .section__policy {
        font-weight: bold;
        font-size: 12px;
    }

    .share {

        font-size: 18px;
    }

    .footer_share_img {
        height: 30px;
    }

    .section__policy a {
        margin-left: 1.5vw;
    }

    .footer__section-bottom {
        margin-top: 30px;
        margin-bottom: 35px;
    }

    .footer__section-feedback_direction {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .footer__section-bottom-mobile {
        display: none;
    }

    #separatorMobile {
        display: none;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer__section_direction {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .footer__column__title {
        font-size: 16px;
        margin: 50px 0 25px 0;
    }

    .footer__column__list li {
        margin-top: 35px;
    }

    .footer__column__info_delivery {
        display: none;
    }

    .footer__first_column {
        margin-right: 20vw;
    }

    .footer__section-links {
        width: 65vw;
    }

    .footer__section-feedback {
        width: 35vw;
    }

    .footer__section-feedback_direction {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .footer__section-feedback {
        padding-left: 10vw;
    }

    .footer__column__list a, .footer__column_info {
        font-size: 14px;
    }

    .footer___section_icons {
        padding-top: 13vh;
    }

    .footer__section-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .copyright, .section__policy {
        font-weight: bold;
        font-size: 12px;
    }

    .share {

        font-size: 16px;
    }

    .footer_share_img {
        height: 30px;
    }

    .section__policy a {
        margin-left: 1.5vw;
    }

    .footer__section-bottom {
        margin-top: 30px;
        margin-bottom: 35px;
    }

    .footer_share_img {
        height: 20px;
    }

    .section__sharing_image .share_text {
        font-size: 12px;
    }

    /*CHANGE!!!!!!!!!*/
    /*
    .section_row {
        padding-bottom: 10vh;
    }
    */
    .footer__column_info {
        width: 30vw;
    }

    .footer__section-bottom-mobile {
        display: none;
    }

    #separatorMobile {
        display: none;
    }

}

@media only screen and  (max-width: 768px) {
    .footer__section_direction {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }

    .footer__column__title {
        font-size: 14px;
        margin: 35px 0 20px 0;
    }

    .footer__column__list li {
        margin-top: 30px;
    }

    .footer__column__info_delivery {
        display: none;
    }

    .footer__column__list a, .footer__column_info {
        font-size: 12px;
    }

    .footer__section-links {
        width: 100%;
    }

    #border {
        border-right: 1px solid #e5e5e5;
    }


    .footer__column__title {
        font-size: 14px;
        margin: 40px 0 20px 0;
    }

    .footer__column__list li {
        margin-top: 30px;
    }


    .footer__section-feedback_direction {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .feedback-column {
        width: 50vw;

    }

    #footerSectionIconsDesktopTablet {
        display: none;
    }

    .section_column {
        width: 50vw;
    }

    .footer__section_column_right {
        margin-left: 20px;
    }

    .footer__section-bottom {
        display: none;
    }

    .footer__section-bottom-mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .section__bottom_first, .section__bottom_second {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 0;
    }

    .section__bottom_text {
        font-weight: bold;
        font-size: 10px;
    }

    .section__policy a {
        margin-right: 4vw;
    }

    .section__bottom__footer__icon {
        height: 15px;
        margin-right: 20px;
    }

    .share {
        font-size: 14px;
    }

    .section__sharing_image .share_text {
        font-size: 10px;
    }

    .footer__column_info {
        margin-bottom: 45px;
    }
}


