<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сatalog</title>
</head>
<body>
<header class="header">
    <div class="header__section_direction " id="headerDesktop">
        <div class="header__content container ">
            <div class="header__content-logo-bag">
                <div class="header__content-logo">
                    <h1><a href="start.html" class="header__logo" id="logoDesktop">Template</a></h1>
                </div>
                <div class="header__content-bag">
                    <span class="header__content_bag-sing-up" id="signUp">E-mail sing up</span>
                    <a href="shopping-bag.html"> <span> <img src="img/icons/ico_bag.svg" alt="bag" class="header__content_bag-icon">  Bag (0) </span></a>

                </div>
            </div>

        </div>

        <div class="header__content_menu container ">
            <div class="navigation">
                <nav>
                    <ul class="header__menu bold-text">
                        <li><a href="#">Women</a></li>
                        <li><a href="#">Men</a></li>
                        <li><a href="#">Handbags</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                        <li><a href="#">New Arrivals</a></li>
                        <li><a href="#">Clearance</a></li>
                        <li><a href="#">Store Locator</a></li>

                    </ul>
                </nav>
            </div>
            <div class="header__content_menu_search">
                <button class="header__menu__search_button" id="searchTablet">
                    <span class="header__menu_search_button_text bold-text">Style name...</span>
                    <img src="img/icons/search.svg" class="header__menu_search_button_img" alt="search">
                </button>
                <form id="searchDesktop" class="search__field bold-text">
                    <input type="search" placeholder="Style Name">
                </form>
            </div>
        </div>
    </div>

    <div class="wrapper" id="headerMobile">
        <div class="container">
            <input type="checkbox" id="headerMenu">
            <label for="headerMenu">
                <div class="header__content-logo-bag">
                    <h1 class="header__content-logo"><a href="start.html" class="header__logo" id="logoMobile">TL</a></h1>
                    <a href="shopping-bag.html"><div class="header__content-bag"><img src="img/icons/ico_bag.svg" alt="bag"
                                                          class="header__content_bag-icon"> Bag (0)
                    </div></a>
                </div>
            </label>

            <div class="burger-line first"></div>
            <div class="burger-line second"></div>
            <div class="burger-line third"></div>
            <div class="burger-line fourth"></div>
            <nav class="header__menu-nav bold-text">
                <div class="container">
                    <a href="#">Women</a>
                    <a href="#">Men</a>
                    <a href="#">Handbags</a>
                    <a href="#">Accessories</a>
                    <a href="#">Sale</a>
                    <a href="#">New Arrivals</a>
                    <a href="#">Clearance</a>
                    <a href="#">Store Locator</a></div>
                <form id="searchMobile" class="container">
                    <input type="search" placeholder="Style Name" class="search__field">
                </form>
            </nav>
        </div>
    </div>

</header>
<main>
    <div class="separator"></div>
    <div class="container">
        <div class="filter__body bold-text" id="filterDesktop">
            <div class="filter__dropdown">
                <button class="filter__dropdown_btn">
                    <span class="filter__dropdown_title" id="filterTitle"> Fashion</span>
                    <img src="img/icons/dropdown.svg" class="dropdown_icon-img" alt="dropdown_icon-img">
                </button>
                <ul class="dropdown-btn_content">
                    <li id="resetSelect">Not selected</li>
                    <li>Nail the 90s</li>
                    <li>Casual style</li>
                    <li>New Look</li>
                    <li>Sport</li>
                    <li>Vintage</li>
                    <li>Classical style</li>
                </ul>

                </div>

            <div class="filter__dropdown">
                <button class="filter__dropdown_btn">
                    <span class="filter__dropdown_title">Product type</span>
                    <img src="img/icons/dropdown.svg" class="dropdown_icon-img" alt="dropdown_icon-img">
                </button>
                <ul class="dropdown-btn_content">
                    <li>Not selected</li>
                    <li>Coat & Jackets</li>
                    <li>Dresses</li>
                    <li>Jersey Tops</li>
                </ul>
            </div>
            <div class="filter__dropdown">
                <button class="filter__dropdown_btn">
                    <span class="filter__dropdown_title">Color</span>
                    <img src="img/icons/dropdown.svg" class="dropdown_icon-img" alt="dropdown_icon-img">
                </button>
                <ul class="dropdown-btn_content">
                    <li>Not selected</li>
                    <li>Black</li>
                    <li>Blue</li>
                    <li>Red</li>
                    <li>Green</li>
                    <li>Vintage</li>
                    <li>Golden</li>
                </ul>
            </div>
            <div class="filter__dropdown">
                <button class="filter__dropdown_btn">
                    <span class="filter__dropdown_title">Brand</span>
                    <img src="img/icons/dropdown.svg" class="dropdown_icon-img" alt="dropdown_icon-img">
                </button>
                <ul class="dropdown-btn_content">
                    <li>Not selected</li>
                    <li>Chi Chi London</li>
                    <li>Antipodium</li>
                    <li>Adidas</li>
                    <li>New Balance</li>
                    <li>River Island</li>
                    <li>Golden</li>
                </ul>
            </div>
            <div class="filter__dropdown">
                <button class="filter__dropdown_btn">
                    <span class="filter__dropdown_title"> Size</span>
                    <img src="img/icons/dropdown.svg" class="dropdown_icon-img" alt="dropdown_icon">
                </button>
                <ul class="dropdown-btn_content">
                    <li>Not selected</li>
                    <li>UK 2</li>
                    <li>UK 18</li>
                    <li>UK 18L</li>
                    <li>UK 20</li>
                    <li>UK20 L</li>
                    <li>UK 20S</li>
                    <li>UK 22S</li>
                    <li>UK 22</li>
                </ul>
            </div>
            <div class="filter__dropdown bold-text">
                <button class="filter__dropdown_btn">
                    <span class="filter__dropdown_title"> Category</span>
                    <img src="img/icons/dropdown.svg" class="dropdown_icon-img" alt="dropdown_icon-img">
                </button>
                <ul class="dropdown-btn_content">
                    <li>Not selected</li>
                    <li>Black</li>
                    <li>Blue</li>
                    <li>Red</li>
                    <li>Green</li>
                    <li>Vintage</li>
                    <li>Golden</li>
                </ul>
            </div>

        </div>


        <div id="filterTabletMobile">
            <div class="container wrapper">

                <input type="checkbox" id="filterMenu">
                <label for="filterMenu">
                    <div class="filter__dropdown bold-text">
                        <span>Fashion</span>
                        <span>Product type</span>
                        <span>Color</span>
                        <span>Brand</span>
                        <span>Category</span>
                        <img src="img/icons/dropdown.svg" class="dropdown_icon-img" alt="dropdown_icon">
                    </div>
                </label>
                <div class="burger-line first"></div>
                <div class="burger-line second"></div>
                <div class="burger-line third"></div>
                <div class="burger-line fourth"></div>

                <div class="filter__dropdown-menu">
                    <div class="filter__dropdown-menu-section">
                        <span class="filter__section-title bold-text">Fashion</span>
                        <ul class="dropdown-btn_content">
                            <li>Not selected</li>
                            <li>Nail the 90s</li>
                            <li>Casual style</li>
                            <li>New Look</li>
                            <li>Sport</li>
                            <li>Vintage</li>
                            <li>Classical style</li>
                        </ul>
                    </div>
                    <div class="filter__dropdown-menu-section">
                        <span class="filter__section-title bold-text">Product type</span>
                        <ul class="dropdown-btn_content">
                            <li>Not selected</li>
                            <li>Coat & Jackets</li>
                            <li>Dresses</li>
                            <li>Jersey Tops</li>
                        </ul>
                    </div>
                    <div class="filter__dropdown-menu-section">
                        <span class="filter__section-title bold-text">Color</span>
                        <ul class="dropdown-btn_content">
                            <li>Not selected</li>
                            <li>Black</li>
                            <li>Blue</li>
                            <li>Red</li>
                            <li>Green</li>
                            <li>Vintage</li>
                            <li>Golden</li>
                        </ul>
                    </div>
                    <div class="filter__dropdown-menu-section">
                        <span class="filter__section-title bold-text">Brand</span>
                        <ul class="dropdown-btn_content">
                            <li>Not selected</li>
                            <li>Chi Chi London</li>
                            <li>Antipodium</li>
                            <li>Adidas</li>
                            <li>New Balance</li>
                            <li>River Island</li>
                            <li>Golden</li>
                        </ul>
                    </div>
                    <div class="filter__dropdown-menu-section">
                        <span class="filter__section-title bold-text">Size</span>
                        <ul class="dropdown-btn_content">
                            <li>Not selected</li>
                            <li>UK 2</li>
                            <li>UK 18</li>
                            <li>UK 18L</li>
                            <li>UK 20</li>
                            <li>UK 20 L</li>
                            <li>UK 20S</li>
                            <li>UK 22S</li>
                            <li>UK 22</li>
                        </ul>
                    </div>
                    <div class="filter__dropdown-menu-section">
                        <span class="filter__section-title bold-text">Price Range</span>
                        <ul class="dropdown-btn_content">
                            <li>Not selected</li>
                            <li>To £99</li>
                            <li>£100-£299</li>
                            <li>From £300</li>
                        </ul>
                    </div>


                </div>
            </div>

        </div>

    </div>
    <div class="separator"></div>
    <div class="container" id="goodsContainer"></div>
    <div class="center-column container">
        <a href="catalog.html"> <button  class=" section__button button__central">Show more</button></a>
    </div>
    <div class="section__advertising section_row container__promo-blocks" id="adidasBlue">
        <div class="section__advertising_box">
            <figure class="section__advertising_img-wrapper">
                <img src="img/adidas_blue.jpeg" class="section__advertising_img">
            </figure>
            <div class="adidasBlue_title section__advertising_title bold-text">Adidas Blue
                <div class="adidasBlue_subtitle section__advertising_subtitle italic-text"><span>For men</span></div>
            </div>

        </div>

        <div class="section__advertising_box" id="repairPatches">
            <figure class="section__advertising_img-wrapper">
                <img src="img/Repair_Patches.jpeg" class="section__advertising_img">
            </figure>
            <div class="repairPatches_title section__advertising_title bold-text">Repair Patches
                <div class="repairPatches_subtitle section__advertising_subtitle"><span>£ 150.50</span></div>
            </div>


        </div>

        <div class="section__advertising_box" id="sale">
            <figure class="section__advertising_img-wrapper">
                <img src="img/Sale.jpeg" class="section__advertising_img">
            </figure>
            <div class="sale_title section__advertising_title bold-text">Sale
                <div class="sale_subtitle section__advertising_subtitle italic-text" ><span>-70%</span></div>
            </div>

        </div>
    </div>

</main>
<div class="separator"></div>

<footer class="footer">
    <div class=" container ">
        <div class="footer__section_direction" >

            <div class="footer__section-links ">
                <div class="section_row footer__section-links_first_column">
                    <div class="section_column footer__first_column">
                        <h2 class="footer__column__title ">Quick Links</h2>
                        <ul class="footer__column__list">
                            <li><a href="#">Store locator</a></li>
                            <li><a href="#">Gift Cards</a></li>
                            <li><a href="#">Size guide</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Gift Cards</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                    <div class="section_column footer__section_column_right">
                        <h2 class="footer__column__title ">Customer Care</h2>
                        <ul class="footer__column__list">
                            <li><a href="#">Customer service</a></li>
                            <li><a href="#">Track my order</a></li>
                            <li><a href="#">Return policy</a></li>
                            <li><a href="#">Shipping & delivery</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="separator" id="separatorMobile" ></div>

            <div class="footer__section-feedback footer__section-feedback_container" >

                <div class="footer__section-feedback_direction" >
                    <div class="section_column footer__first_column feedback-column " id="border">
                        <h2 class="footer__column__title ">Questions</h2>

                        <p class="footer__column_info " id="footerColumnInfoTweeter">
                            <img src="img/icons/twi_icon_grey.svg" class="footer__icon">Tweet us
                            <b>@template</b></p>
                    </div>

                    <div class="section_column feedback-column footer__section_column_right">
                        <h2 class="footer__column__title ">Order by phone</h2>
                        <p class="footer__column_info">8-800-409-47-12</p>
                    </div>
                </div>

                <div class="footer__column__info_delivery italic-text">
                    We have our own delivery service
                    which operates in 23 major European cities.
                    Delivery time - 3-5 days.
                </div>

                <div class="footer___section_icons section_row" id="footerSectionIconsDesktopTablet">
                    <img src="img/icons/facebook_icon.svg " class="footer__icon ">
                    <img src="img/icons/twi_icon_blue.svg" class="footer__icon">
                </div>

            </div>

        </div>


    </div>
    </div>
    <div class="separator"></div>
    <div class="container">
        <div class="footer__section-bottom">

            <div class="section__copyright">
                <span class="copyright"> © 2010–2015, The Template Group inc.</span>
            </div>
            <div class="section__sharing">
                <span class="footer__share-icon bold-text">Share</span>
                <div class="section__sharing_image">
                    <img src="img/icons/share.svg" class="footer_share_img">
                    <div class="share_text">1437</div>
                </div>
            </div>
            <div class="section__policy">
                <a href="#">Legal notice</a>
                <a href="#">Privacy policy </a>
                <a href="#">Site map</a>

            </div>
        </div>

        <div class="footer__section-bottom-mobile  ">
            <div class="section__bottom_first container">
                <div class="section__bottom_text section__policy">
                    <a href="#">Legal notice</a>
                    <a href="#">Privacy policy </a>
                    <a href="#">Site map</a>
                </div>
                <div class="footer___section_icons section_row">
                    <img src="img/icons/facebook_icon.svg " class="section__bottom__footer__icon ">
                    <img src="img/icons/twi_icon_blue.svg" class="footer__icon">
                </div>

            </div>
            <div class="separator"></div>

            <div class="section__bottom_second container">
                <div class="section__copyright">
                    <span class="section__bottom_text"> © 2010–2015, The Template Group inc.</span>
                </div>

                <div class="section__sharing">
                    <span class="footer__share-icon">Share</span>
                    <div class="section__sharing_image">
                        <img src="img/icons/share.svg" class="footer_share_img">
                        <div class="share_text">1437</div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</footer>

<script src="js/filter.js"></script>
<script src="js/lodash.js"></script>
<script id="template-good-item" type="text/template">
    <a href="item.html">
        <div class="item">
            <div class="item__picture_container center-column">
                <div class="item__picture-wrapper">
                    <img src="<%- thumbnail %>" alt="Image" class="item__picture">
                    <% if (hasNew){ %>
                        <div class="item__picture-hasNew"><span>NEW</span></div>
                    <% } %>
                </div>
                <div class="item__picture_hover-text bold-text">View item</div>
                <div class="item__info">
                    <div class="item__title"><%-title%></div>
                    <p class="item__price">£<%-price%></p>
                </div>
            </div>
        </div>
    </a>
</script>

</body>
<script src="data/catalog.js"></script>
<script src="dist/data-source.js"></script>
<script src="dist/card-good.js"></script>
<script src="dist/catalog.js"></script>
</html>

