<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping bag</title>
</head>
<body>
<header class="header">
    <div class="header__section_direction " id="headerDesktop">
        <div class="header__content container ">
            <div class="header__content-logo-bag">
                <div class="header__content-logo">
                    <h1><a href="start.html" class="header__logo" id="logoDesktop">Template</a></h1>
                </div>
                <div class="header__content-bag">
                    <span class="header__content_bag-sing-up" id="signUp">E-mail sing up</span>
                    <a href="shopping-bag.html"> <span id="totalPrice" class="header__content_bag-total">Bag (0) </span></a>
                </div>
            </div>

        </div>

        <div class="header__content_menu container ">
            <div class="navigation">
                <nav>
                    <ul class="header__menu bold-text">
                        <li><a href="#">Women</a></li>
                        <li><a href="#">Men</a></li>
                        <li><a href="#">Handbags</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                        <li><a href="#">New Arrivals</a></li>
                        <li><a href="#">Clearance</a></li>
                        <li><a href="#">Store Locator</a></li>

                    </ul>
                </nav>
            </div>
            <div class="header__content_menu_search">
                <button class="header__menu__search_button" id="searchTablet">
                    <span class="header__menu_search_button_text bold-text">Style name...</span>
                    <img src="img/icons/search.svg" class="header__menu_search_button_img">
                </button>
                <form id="searchDesktop" class="search__field bold-text">
                    <input type="search" placeholder="Style Name">
                </form>
            </div>
        </div>
    </div>

    <div class="wrapper" id="headerMobile">
        <div class="container">
            <input type="checkbox" id="headerMenu">
            <label for="headerMenu">
                <div class="header__content-logo-bag">
                    <h1 class="header__content-logo"><a href="start.html" class="header__logo" id="logoMobile">TL</a>
                    </h1>
                    <a href="shopping-bag.html">
                        <a href="shopping-bag.html"> <span id="totalPriceMobile" class="header__content_bag-total">  Bag (0) </span></a>

                    </a>
                </div>
            </label>

            <div class="burger-line first"></div>
            <div class="burger-line second"></div>
            <div class="burger-line third"></div>
            <div class="burger-line fourth"></div>
            <nav class="header__menu-nav bold-text">
                <div class="container">
                    <a href="#">Women</a>
                    <a href="#">Men</a>
                    <a href="#">Handbags</a>
                    <a href="#">Accessories</a>
                    <a href="#">Sale</a>
                    <a href="#">New Arrivals</a>
                    <a href="#">Clearance</a>
                    <a href="#">Store Locator</a></div>
                <form id="searchMobile" class="container">
                    <input type="search" placeholder="Style Name" class="search__field">
                </form>
            </nav>
        </div>
    </div>

</header>
<main>
    <div class="separator"></div>
    <div class="shopping-bag_head container bold-text">
      <a href="shopping-bag.html">  <span class="shopping-bag_title">Shopping Bag</span></a>
    </div>
    <div class="separator"></div>
    <div class="container container-bag__wrapper">
        <div id="goodsContainer" class="container-bag"></div>
        <div id="goodsContainerTextMessage" class="container-bag__text bold-text"></div>
    </div>
    <div class="separator"></div>
    <div class="shopping-bag_banner bold-text"><span class="shopping-bag_banner-text container">You've qualified for Free UK Next Day Delivery on your order.
        Don't forget to enter the code<span class=" shopping-bag_banner-main-text"> nexday</span> at checkout</span>
    </div>

    <div class="shopping-bag_checkout bold-text container">
        <div class="shopping-bag_clear" id="emptyBag">Empty Bag</div>

        <div class="shopping-bag_btn">
            <button class=" section__button" id="checkout">Checkout</button>
        </div>

        <div class="shopping-bag_total-price">
            <!-- <div class="shopping-bag_total-price-discount"><span>Applied discount: £15.00</span> </div>-->
            <span class="shopping-bag_total-price-regular" id="totalPriceBottom">Total price:</span>
        </div>
    </div>
    <div class="separator"></div>
</main>
<footer class="footer">
    <div class=" container ">
        <div class="footer__section_direction">

            <div class="footer__section-links ">
                <div class="section_row footer__section-links_first_column">
                    <div class="section_column footer__first_column">
                        <h2 class="footer__column__title ">Quick Links</h2>
                        <ul class="footer__column__list">
                            <li><a href="#">Store locator</a></li>
                            <li><a href="#">Gift Cards</a></li>
                            <li><a href="#">Size guide</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Gift Cards</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                    <div class="section_column footer__section_column_right">
                        <h2 class="footer__column__title ">Customer Care</h2>
                        <ul class="footer__column__list">
                            <li><a href="#">Customer service</a></li>
                            <li><a href="#">Track my order</a></li>
                            <li><a href="#">Return policy</a></li>
                            <li><a href="#">Shipping & delivery</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="separator" id="separatorMobile"></div>

            <div class="footer__section-feedback footer__section-feedback_container">

                <div class="footer__section-feedback_direction">
                    <div class="section_column footer__first_column feedback-column " id="border">
                        <h2 class="footer__column__title ">Questions</h2>

                        <p class="footer__column_info " id="footerColumnInfoTweeter">
                            <img src="img/icons/twi_icon_grey.svg" class="footer__icon">Tweet us
                            <b>@template</b></p>
                    </div>

                    <div class="section_column feedback-column footer__section_column_right">
                        <h2 class="footer__column__title ">Order by phone</h2>
                        <p class="footer__column_info">8-800-409-47-12</p>
                    </div>
                </div>

                <div class="footer__column__info_delivery italic-text">
                    We have our own delivery service
                    which operates in 23 major European cities.
                    Delivery time - 3-5 days.
                </div>

                <div class="footer___section_icons section_row" id="footerSectionIconsDesktopTablet">
                    <img src="img/icons/facebook_icon.svg " class="footer__icon ">
                    <img src="img/icons/twi_icon_blue.svg" class="footer__icon">
                </div>

            </div>

        </div>


    </div>
    </div>
    <div class="separator"></div>
    <div class="container">
        <div class="footer__section-bottom">

            <div class="section__copyright">
                <span class="copyright"> © 2010–2015, The Template Group inc.</span>
            </div>
            <div class="section__sharing">
                <span class="footer__share-icon bold-text">Share</span>
                <div class="section__sharing_image">
                    <img src="img/icons/share.svg" class="footer_share_img">
                    <div class="share_text">1437</div>
                </div>
            </div>
            <div class="section__policy">
                <a href="#">Legal notice</a>
                <a href="#">Privacy policy </a>
                <a href="#">Site map</a>

            </div>
        </div>

        <div class="footer__section-bottom-mobile  ">
            <div class="section__bottom_first container">
                <div class="section__bottom_text section__policy">
                    <a href="#">Legal notice</a>
                    <a href="#">Privacy policy </a>
                    <a href="#">Site map</a>
                </div>
                <div class="footer___section_icons section_row">
                    <img src="img/icons/facebook_icon.svg " class="section__bottom__footer__icon ">
                    <img src="img/icons/twi_icon_blue.svg" class="footer__icon">
                </div>

            </div>
            <div class="separator"></div>

            <div class="section__bottom_second container">
                <div class="section__copyright">
                    <span class="section__bottom_text"> © 2010–2015, The Template Group inc.</span>
                </div>

                <div class="section__sharing">
                    <span class="footer__share-icon">Share</span>
                    <div class="section__sharing_image">
                        <img src="img/icons/share.svg" class="footer_share_img">
                        <div class="share_text">1437</div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</footer>


<script id="template-shopping-bag" type="text/template">

    <div class="bag__wrapper">
        <div>
            <div class="item__picture_container">
                <div class="item__picture-wrapper" id="itemPictureWrapper">
                    <img src="<%- thumbnail %>" alt="Image" class="item__picture"> </a>
                    <% if (hasNew){ %>
                    <div class="item__picture-hasNew"><span>NEW</span></div>
                    <% } %>
                </div>
                <div class="item__picture_hover-text bold-text">Edit item</div>
            </div>
        </div>

        <div class="bag__item__info">
            <div class="bag__item__info-main  bold-text">
                <div class="bag__item_title"><%-title%></div>
                <p class="bag__item_price">£<%-price%></p>
            </div>
            <div class="bag__item__info-description">
                <p class="bag__item_color">Color: <%-color%></p>
                <p class="bag__item_size">Size: <%-size%></p>
                <div class="bag__item_quantity">
                    <form>
                        <span>Quantity: </span>
                        <div class="value-button" id="decrease" value="Decrease Value">-</div>
                        <input type="number" id="number" value="<%=quantity%>"/>
                        <div class="value-button" id="increase" value="Increase Value">+</div>
                    </form>
                </div>
            </div>
            <div class="bag__item__delete bold-text" id="removeItem">Remove item</div>
        </div>

    </div>

</script>
<script src="data/catalog.js"></script>
<script src="dist/lodash.js"></script>
<script src="dist/good.js"></script>
<script src="dist/chosen-good.js"></script>
<script src="dist/data-source.js"></script>
<script src="dist/card-good.js"></script>
<script src="dist/shopping-bag.js"></script>
</body>
</html>